<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.example" level="DEBUG" />

    <logger name="org.hibernate.orm.results" level="WARN" />
    <logger name="org.hibernate.orm." level="WARN" />
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>
    <logger name="logging.level.org.hibernate.sql" level="WARN"/>
    <logger name="org.hibernate.query.hql" level="WARN"/>
    <logger name="org.hibernate.query.sqm.tree" level="WARN"/>
    <logger name="org.hibernate.sql" level="WARN"/>
    <logger name="org.hibernate.orm.sql.ast.tree" level="WARN"/>
    <logger name="org.hibernate.orm.query.sqm.ast" level="WARN"/>





</configuration>
